@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Comfortaa:wght@300..700&family=Sevillana&family=Shadows+Into+Light&display=swap");

* {
  box-sizing: border-box;
  font-size: 18px;
}

.header-top-section {
  background-color: #fecb0a;
  height: 60px;
  text-align: center;
  align-content: center;
  border-bottom: 1px solid white;
}

.header-top-section a {
  color: white;
  transition: color 0.3s;
}
.header-top-section a:hover {
  color: black;
}
.overlay {
  background-image: url("./assets/108.png");
  background-size: cover;
  width: 100%;
  height: 600px;
}
.overlay-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.301);
}
.navbar {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  width: 100%;
}
.logo > img {
  width: 200px;
  height: 80px;
}
.menu-desktop-list {
  list-style: none;
  display: flex;
  gap: 25px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.heading {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 30px;
  justify-content: center; /* Centers content vertically */
  height: 500px;
  align-items: flex-start; /* Align items to the left */
}
.heading h1 {
  font: 700 60px "Roboto";
  margin: 0;
}
.heading h3 {
  font: 500 40px "Roboto";
  margin: 0;
}
.heading > button {
  width: 250px;
  height: 50px;
  border-radius: 25px;
  background-color: #fecb0a;
  border: none;
  cursor: pointer;
}
.navbar-menu a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  position: relative;
  transition: color 0.3s;
}

.navbar-menu a:hover {
  color: #fecb0a;
}
.navbar-menu a::after {
  content: "";
  width: 0px;
  position: absolute;
  background-color: #fecb0a;
  bottom: 0px;
  left: 0;
  height: 3px;
  border-radius: 3px;
  transition: width 0.3s;
}
.navbar-menu a:hover::after {
  width: 100%;
}

.middle-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 50px 0px;
  gap: 50px;
}
.list-services {
  display: flex;
  gap: 25px;
}
.list-services > div {
  width: 160px;
}

.list-services img {
  width: 100%;
  border-radius: 20px;
}
.middle-section > button {
  width: 250px;
  height: 50px;
  border-radius: 25px;
  background-color: #fecb0a;
  border: none;
  cursor: pointer;
}
.middle-section > h1 {
  font: 600 40px "Roboto";
}
.text-section-main {
  background-color: #f9f9f9;
  width: 100%;
  display: flex;
  justify-content: center;
}
.text-section-1 {
  display: flex;
  flex-direction: column;
  max-width: 900px;
}
.text-section-1 p:nth-child(1) {
  font: 100 40px "Roboto";
  color: black;
  text-align: left;
}
.text-section-1 p:nth-child(2),
.text-section-1 p:nth-child(3) {
  color: black;
  text-align: left;
}

.text-section-1 p:nth-child(1) > span {
  font: 600 35px "Roboto";
  color: black;
  text-align: left;
}
.text-section-1 > a {
  text-align: left;
  align-items: center;
  display: flex;
  gap: 20px;
  text-decoration: none;
  color: #fecb0a;
}
.text-section-1 > a img {
  width: 50px;
}
.text-section-2 {
  display: flex;
  align-items: center;
  background-color: #fecb0a;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}
.clock {
  background-image: url("./assets/alarm.png");
  background-size: cover;
  width: 500px;
  height: 400px;
  background-repeat: no-repeat;
  transform: scale(1.3);
}

.clock-text-area {
  z-index: 3;
  text-align: left;
  width: 500px;
}

.clock-text-area > p:nth-child(1),
span {
  font-size: 30px;
}

.clock-text-area > p:nth-child(2) {
  font-size: 16px;
}

.clock-text-area > button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}
.supplies-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.supplies-section > div {
  display: flex;
  gap: 50px;
}
.supplies-section > h1 {
  font: 400 40px "Roboto";
}

.supplies-section > div > img {
  width: 170px;
}
.footer {
  background-color: #212121;
  padding: 50px 0px;
  position: relative;
}
.footer span,
.footer h1 {
  margin: 0;
  font: 200 20px "Roboto";
  color: white;
}

.footer a {
  text-decoration: none;
  color: #fecb0a;
  font: 200 15px "Roboto";
}
.footer > div {
  display: flex;
  justify-content: space-around;
}

.left-footer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-around;
}
.left-footer > img {
  width: 200px;
}

.right-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.right-footer > img {
  width: 25px;
  margin-top: 10px;
  cursor: pointer;
}
.right-footer > p {
  line-height: 50px;
  color: white;
  font-size: 17px;
  margin: 0;
}
.copy-right {
  font: 200 13px "Roboto" !important;
  text-align: center;
}
/* testimonial */
.testimonial-main {
  display: flex;
  max-width: 1110px;
  overflow: auto;
  scroll-behavior: smooth;
  margin: 0 auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: relative;
  height: 520px;
}

.testimonial {
  display: flex;
  flex-direction: column;
  min-width: 370px;
  height: 500px;
  gap: 35px;
  justify-content: space-around;
  box-shadow: 9px 11px 14px 0 rgba(0, 0, 0, 0.1);
  padding: 40px;
  box-sizing: border-box;
  border-radius: 25px;
}

.testimonial > p {
  font-family: "Comfortaa";
  line-height: 25px;
  font-size: 15px;
}
.stars-rating {
  display: flex;
  gap: 5px;
}
.stars-rating > img {
  width: 20px !important;
}
.testimonial > div > img {
  width: 90px;
  border-radius: 50%;
}
.testimonial > div {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}
.profile-img {
  width: 100%;
}
.side-comas {
  height: 35px;
  position: relative;
  top: 50px;
}
.dot-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 20px 0;
}
.dot {
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.322);
  cursor: pointer;
  border-radius: 50%;
}
.dot-selected {
  background-color: #fecb0a;
}
.selected {
  color: #fecb0a;
  border-bottom: 3px solid #fecb0a;
}
.scroll-up {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.411);
  border: none;
  color: white;
  width: 50px;
  height: 40px;
  overflow: hidden;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.mobile-menu {
  display: none;
  align-items: center;
  color: white;
  justify-content: center;
  align-content: center;
  height: 80px;
  gap: 20px;
}
.menu-close {
  color: black;
  cursor: pointer;
}
.fa-solid {
  font-size: 35px;
}

/* this is for mobile list */
.menu-mobile-list {
  flex-direction: column;
  position: fixed;
  right: -600px;
  top: 0;
  width: 50%;
  height: 100vh;
  background-color: white;
  padding: 100px;
  z-index: 500;
  margin: 0px;
  gap: 50px;
  list-style: none;
  transition: right 0.5s ease;
  display: none;
}

.menu-mobile-list > a {
  color: black;
  width: max-content;
}
.menu-mobile-list > a > li {
  font-size: 25px;
}

.loaderContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.616); /* White with transparency */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.loaderElement {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #fecb0a;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1150px) {
  .testimonial-main {
    max-width: 740px;
  }
  .supplies-section > div {
    display: inline;
  }
  .supplies-section > div > img {
    margin-right: 10px;
  }
}
@media (max-width: 1050px) {
  .heading {
    align-items: center;
    padding: 0 20px;
  }
}

@media (max-width: 1000px) {
  .navbar {
    justify-content: space-between;
  }
  .menu-mobile-list {
    display: flex;
  }
  .mobile-menu {
    display: flex;
    margin-right: 50px;
    cursor: pointer;
  }
  .logo {
    margin-left: 50px;
  }
  .mobile-menu > i {
    font-size: 30px;
  }
  .list-services div {
    width: 80px;
  }

  .heading h1 {
    font-size: 40px;
  }
  .heading h3 {
    font-size: 25px;
  }
  .menu-desktop-list {
    display: none;
  }
  .header-top-section {
    height: 100px;
    padding: 0 10px;
  }
  .text-section-1 {
    max-width: 100%;
    align-items: center;
  }
  .text-section-1 p:nth-child(1) {
    text-align: center;
  }
  .text-section-1 p:nth-child(2) {
    text-align: center;
  }
}
@media (max-width: 750px) {
  .testimonial-main {
    max-width: 370px;
  }
  .text-section-2 {
    flex-direction: column;
    padding-bottom: 20px;
  }
  .clock-text-area {
    width: 100%;
    padding: 0 20px;
  }
  .clock-text-area {
    text-align: center;
  }
  .clock {
    margin: 0 auto;
    width: 260px;
  }
  .footer > div {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    gap: 25px;
  }
  .left-footer {
    gap: 25px;
  }
  .copy-right {
    text-align: left;
  }
  .menu-mobile-list {
    padding: 50px;
  }
}

@media (max-width: 550px) {
  .list-services {
    display: block;
  }

  .list-services > div > img {
    display: block;
    width: 100px;
  }
  .logo {
    margin-left: 10px;
  }
  .mobile-menu {
    margin-right: 10px;
  }
  .menu-mobile-list {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .testimonial-main {
    max-width: 370px;
  }
}

@media (max-width: 450px) {
  .mobile-menu > span,
  .mobile-menu > i {
    font-size: 25px !important;
  }
  .mobile-menu {
    gap: 5px;
  }
}
