@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Comfortaa:wght@300..700&family=Dancing+Script:wght@400..700&family=Mukta:wght@200;300;400;500;600;700;800&family=Sevillana&family=Shadows+Into+Light&display=swap");

* {
  box-sizing: border-box;
  font-size: 18px;
}

.container {
  background-color: #fecb0a;
}

.header-top-section {
  background-color: #fecb0a;
  height: 60px;
  text-align: center;
  align-content: center;
  border-bottom: 1px solid white;
}

.header-top-section a {
  color: white;
  transition: color 0.3s;
}
.header-top-section a:hover {
  color: black;
}
.overlay {
  width: 100%;
  height: 600px;
  background-image: url("./assets/warrant-of-fitness.jpeg");
  background-size: cover;
}
.overlay-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.363);
  height: 600px;
}
.middle-section {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  padding-left: 50px;
  justify-content: space-evenly;
  margin: 0 auto;
}
.profile-section {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin: 100px 0;
  gap: 50px;
}
.profile-pic {
  width: 500px;
  position: absolute;
  right: 0;
}
@keyframes carAnimation {
  0% {
    right: 0px;
    transform: rotate(-15deg);
  }
  90% {
    transform: rotate(-15deg);
  }
  100% {
    right: 400px;
    transform: rotate(-0deg);
  }
}

.profile-section > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 500px;
  gap: 50px;
  background-color: #fecb0a;
}
.profile-section > div > p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.589);
  margin: 0;
}
.profile-section > div > h2 {
  font: 200 40px "Roboto";
  margin: 0;
}
.profile-section > div > button {
  width: 250px;
  height: 50px;
  border-radius: 25px;
  background-color: white;
  border: none;
  cursor: pointer;
}
.middle-section > h2 {
  font: 200 40px "Roboto";
  border-bottom: 2px solid black;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  width: 100%;
}
.logo > img {
  width: 200px;
  height: 80px;
}
.menu-desktop-list {
  list-style: none;
  display: flex;
  gap: 25px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.heading {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 30px;
  justify-content: center; /* Centers content vertically */
  height: 500px;
  align-items: flex-start; /* Align items to the left */
}
.heading h1 {
  font: 700 60px "Roboto";
  margin: 0;
}
.heading h3 {
  font: 500 40px "Roboto";
  margin: 0;
}
.heading > button {
  width: 250px;
  height: 50px;
  border-radius: 25px;
  background-color: #fecb0a;
  border: none;
  cursor: pointer;
}
.navbar-menu a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  position: relative;
  transition: color 0.3s;
}
.navbar-menu {
  align-content: center;
}
.navbar-menu a:hover {
  color: #fecb0a;
}
.navbar-menu a::after {
  content: "";
  width: 0px;
  position: absolute;
  background-color: #fecb0a;
  bottom: 0px;
  left: 0;
  height: 3px;
  border-radius: 3px;
  transition: width 0.3s;
}
.navbar-menu a:hover::after {
  width: 100%;
}

.footer {
  background-color: #212121;
  padding: 50px 0px;
  position: relative;
}
.footer span,
.footer h1 {
  margin: 0;
  font: 200 20px "Roboto";
  color: white;
}

.footer a {
  text-decoration: none;
  color: #fecb0a;
  font: 200 15px "Roboto";
}
.footer > div {
  display: flex;
  justify-content: space-around;
}

.left-footer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-around;
}
.left-footer > img {
  width: 200px;
}

.right-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.right-footer > img {
  width: 25px;
  margin-top: 10px;
  cursor: pointer;
}
.right-footer > p {
  line-height: 50px;
  color: white;
  font-size: 17px;
  margin: 0;
}
.copy-right {
  font: 200 13px "Roboto" !important;
  text-align: center;
}

.scroll-up {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.411);
  border: none;
  color: white;
  width: 50px;
  height: 40px;
  overflow: hidden;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.mobile-menu {
  display: none;
  align-items: center;
  color: white;
  justify-content: center;
  align-content: center;
  height: 80px;
  gap: 20px;
}
.menu-close {
  color: black;
  cursor: pointer;
}
.fa-solid {
  font-size: 35px;
}

/* this is for mobile list */
.menu-mobile-list {
  flex-direction: column;
  position: fixed;
  right: -600px;
  top: 0;
  width: 50%;
  height: 100vh;
  background-color: white;
  padding: 100px;
  z-index: 500;
  margin: 0px;
  gap: 50px;
  list-style: none;
  transition: right 0.5s ease;
  display: none;
}

.menu-mobile-list > a {
  color: black;
  width: max-content;
}
.menu-mobile-list > a > li {
  font-size: 25px;
}

.loaderContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.616); /* White with transparency */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.loaderElement {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #fecb0a;
  animation: spin 1s linear infinite;
}
.selected {
  color: #fecb0a;
  border-bottom: 3px solid #fecb0a;
}

@media (max-width: 3000px) {
  .middle-section {
    justify-content: space-between;
  }
}
@media (max-width: 1500px) {
  .middle-section {
    flex-direction: column;
  }
  .profile-pic {
    position: relative;
  }
}
@media (max-width: 1350px) {
  .profile-section {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1000px) {
  .navbar {
    justify-content: space-between;
  }
  .menu-mobile-list {
    display: flex;
  }

  .mobile-menu {
    display: flex;
    margin-right: 50px;
    cursor: pointer;
  }

  .logo {
    margin-left: 50px;
  }
  .mobile-menu > i {
    font-size: 30px;
  }

  .menu-desktop-list {
    display: none;
  }
  .header-top-section {
    height: 100px;
    padding: 0 10px;
  }
  .middle-section > p {
    width: 100%;
    text-align: center;
  }
  .heading > h1 {
    font-size: 10vw;
    text-align: center;
  }
}
@media (max-width: 750px) {
  .footer > div {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    gap: 25px;
  }
  .left-footer {
    gap: 25px;
  }
  .copy-right {
    text-align: left;
  }
  .menu-mobile-list {
    padding: 50px;
  }

  .profile-section > p {
    width: 100%;
  }
  .profile-section > div {
    width: 100%;
  }
  .middle-section {
    padding: 0;
  }
}

@media (max-width: 550px) {
  .logo {
    margin-left: 10px;
  }
  .mobile-menu {
    margin-right: 10px;
  }
  .menu-mobile-list {
    width: 100%;
  }
  .profile-pic {
    width: 300px;
  }
}

@media (max-width: 450px) {
  .mobile-menu > span,
  .mobile-menu > i {
    font-size: 25px !important;
  }
  .mobile-menu {
    gap: 5px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
